<!DOCTYPE html>
<header>
    <meta charset="UTF-8">
</header>
<body>
    <form method="POST">
        <label for="Email">Enter Email:</label>
        <input id="Email" type="text" name="email_field" value="jon@doe.com">
        <label for="Password">Enter Password</label>
        <input id="Password" type="password" name="password_field" value="*****">
        <input type="submit" value="Log in">
    </form>
</body>