<header>
        <header>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        </header>
    </header>
    
    <body>
        <div class="container">
            <hr>
            <h1>List of books</h1>
            <hr>
            <div>
                <div class="card">
                    <h4>ID - <%= task.id %></h4>
                    <h6>Pavadinimas - <%= task.pavadinimas %></h6>
                    <p>Terminas - <%= task.terminas %></p>
                    <p>Ikelimu kiekis - <%= task.ikelimuKiekis %></p>
                    <p>Ivertinta - <%= task.ivetinimoProcentas %></p>
                    <p>Didziasias pazimys - <%= task.maxIvertinimas %></p>
                    <p>Maziausias pazimys - <%= task.minIvertinimas %></p>
                </div>
            </div>
        </div>
    </body>