<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="card">
        <h4>Not</h4>
        <h6>Gona</h6>
        <p>Work</p>
        <p>O</p>
        <p>Clock</p>
        <p>404</p>
    </div>
</body>

</html>